@import '../../app/default.scss';
.order-pro-name {
    color: $color_gray_dark;
    font-size: 15px;
    font-weight: 500;
}

.order-micai-name {
    color: $color_gray_white;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.order-status {
    float: right;
    height: 24px;
    line-height: 30px;
    padding: 0 12px;
    color: #FFF;
    text-align: center;
    color: $color_orange;
}

.mList {
    .item {
        padding: 15px 0;
        background-color: #FFF;
        margin-top: 10px;
    }
    .section {
        position: relative;
        // >a {
        //     left: 0;
        //     top: 0;
        //     width: 100%;
        //     position: absolute;
        //     z-index: 2;
        // }
        &.old {
            .noold {
                display: none;
            }
            >a {
                height: 100%;
            }
        }
    }
    .removeNow {
        zoom: 1;
        animation: hidenow 200ms;
        animation-fill-mode: forwards;
    }
    @keyframes hidenow {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(0);
        }
    }
}

.mylist {
    @include border_s(1px, 0, 1px);
    p {
        line-height: 33px;
        margin-top: -10px;
        text-indent: 15px;
        font-size: 14px;
        width: 100%;
        span {
            color: $color_gray_white;
            font-size: 12px;
        }
    }
    .order-list-detail {
        background: $color_background;
        padding: 15px;
        position: relative;
        em {
            list-style: normal;
            color: $color_gray_dark;
            font-size: 15px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        div {
            display: flex;
            padding-top: 10px;
            img {
                width: 84px;
                height: 84px;
                @include border_s(1px, 1px, 1px, 1px);
            }
            ul {
                padding-left: 15px;
                line-height: 20px;
                color: $color_gray_white;
                font-size: 13px;
                li {
                    display: flex;
                    :last-child {
                        flex: 1;
                    }
                }
            }
        }
    }
    >div:last-child {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        a {
            color: $color_gray_white;
            font-size: 14px;
            padding: 8px 10px;
            @include border_s(1px, 1px, 1px, 1px);
            display: inline-block;
            margin-right: 15px;
            &:before {
                border-radius: 4px;
            }
        }
    }
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.nondata {
    text-align: center;
    padding-top: 20px;
}

.nodata-msg {
    margin-top: 10px;
    color: #999;
}

@supports(font-size:1vw) {
    .mylist {
        p {
            line-height: pxToVw(66);
            margin-top: pxToVw(-20);
            text-indent: pxToVw(30);
            font-size: pxToVw(28);
            span {
                font-size: pxToVw(24);
            }
        }
        .order-list-detail {
            padding: pxToVw(30);
            em {
                font-size: pxToVw(30);
            }
            div {
                padding-top: pxToVw(20);
                img {
                    width: pxToVw(168);
                    height: pxToVw(168);
                }
                ul {
                    padding-left: pxToVw(30);
                    line-height: pxToVw(40);
                    font-size: pxToVw(26);
                }
            }
        }
        >div:last-child {
            margin-top: pxToVw(20);
            a {
                font-size: pxToVw(28);
                padding: pxToVw(16) pxToVw(20);
                margin-right: pxToVw(30);
                &:before {
                    border-radius: pxToVw(8);
                }
            }
        }
    }
    .mList {
        .item {
            padding: pxToVw(30) 0;
            margin-top: pxToVw(20);
        }
    }
    .order-status {
        height: 8.8vw;
        line-height: 8.8vw;
        padding: 0 pxToVw(24);
    }
    .order-micai-name {
        font-size: pxToVw(26);
        margin-top: pxToVw(30);
        margin-bottom: pxToVw(30);
    }
    .order-pro-name {
        font-size: pxToVw(30);
    }
    .nondata {
        padding-top: pxToVw(40);
        img{
            width: pxToVw(170) !important;
            height: pxToVw(170) !important;
        }
        div{
            font-size: pxToVw(24);
        }
    }
    .nodata-msg {
        margin-top: pxToVw(20);
    }
}
