@import '../../app/default.scss';
.logistics {
    .topmsg {
        background: #fff;
        display: flex;
        padding: 15px;
        border-bottom: $border;
        img {
            width: 84px;
            height: 84px;
            border:$border;
        }
        ul {
            padding-left: 15px;
            width: calc(100% - 84px);
            li {
                color: $color_gray_dark;
                display: flex;
                font-size: 14px;
                line-height: 2;
                label {
                    color: $color_red;
                }
                span:first-child {
                    padding-right: 10px;
                }
                span:last-child {
                    color: $color_gray_white;
                    word-break: break-all;
                    flex: 1;
                }
            }
        }
    }
    .logistics-list {
        background: #fff;
        margin-top: 5px;
        border: 1px solid $color_border;
        border-width: 1px 0;
        ul {
            padding-top: 15px;
            li {
                color: $color_gray_white;
                font-size: 13px;
                padding: 0 50px 10px 20px;
                border-left: 1px solid $color_border;
                line-height: 19px;
                margin-left: 28px;
                &:before {
                    content: '';
                    display: inline-block;
                    width: 7px;
                    height: 7px;
                    border-radius: 50%;
                    background-color: $color_border;
                    position: absolute;
                    left: 25px;
                }
                span {
                    position: relative;
                    top: -3px;
                }
            }
            li:first-child {
                color: $color_gray_dark;
                &:before {
                    background-color: $color_red;
                }
            }
            li:last-child {
                border-left: 0;
            }
        }
    }
    @supports(font-size:1vw) {
        .topmsg {
            padding: pxToVw(30);
            img {
                width: pxToVw(168);
                height: pxToVw(168);
            }
            ul {
                padding-left: pxToVw(30);
                width: calc(100% - 22.4vw);
                li {
                    font-size: pxToVw(28);
                    span:first-child {
                        padding-right: pxToVw(20);
                    }
                }
            }
        }
        .logistics-list {
            margin-top: pxToVw(10);
            ul {
                padding-top: pxToVw(30);
                li {
                    font-size: pxToVw(26);
                    padding: 0 pxToVw(100) pxToVw(20) pxToVw(40);
                    line-height: pxToVw(38);
                    margin-left: pxToVw(56);
                    &:before {
                        width: pxToVw(14);
                        height: pxToVw(14);
                        left: pxToVw(50);
                    }
                    span {
                        top: pxToVw(-6);
                    }
                }
            }
        }
    }
}
