@import '../../app/default.scss';
@mixin order_img($pl:0, $pr:0, $bgsize:0.5) {
    background: url(http://miz-image.b0.upaiyun.com/xplan/2.0/personal.png) no-repeat;
    background-size: 1405px*$bgsize 154px*$bgsize;
    background-position: $pl*$bgsize $pr*$bgsize;
}

.orderNew {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.mybtn {
    position: fixed;
    bottom: 0;
    height: 45px;
    width: 100%;
    line-height: 3;
    font-size: 15px;
    display: -webkit-flex;
    label {
        -webkit-flex: 3;
        background: $color_background;
        text-align: right;
        padding-right: 20px;
        display: inline-block; //ANDROID4.3
        width: 70%; //ANDROID4.3
        em {
            color: #f85a01;
        }
    }
    a {
        -webkit-flex: 2;
        text-align: center;
        font-size: 18px;
        background: #f85a01;
        line-height: 2.5;
        color: #fff;
        display: inline-block; //ANDROID4.3
        width: 30%; //ANDROID4.3
    }
}

.margBottom10 {
    margin-bottom: 10px;
    >div {
        word-break: break-all;
    }
    >:first-child {
        white-space: nowrap;
        align-self: flex-start;
    }
    >:last-child {
        flex: 1;
    }
}

.margLeft15 {
    margin-left: 15px;
}

.margTop10 {
    margin-top: 10px;
}

.piece {
    padding: 0 10px 10px;
    background-color: #FFF;
    &:not(:first-child) {
        @include border_s(1px);
    }
    .ads-change {
        a {
            text-decoration: underline;
        }
    }
}

.order {
    display: inline-block;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    margin-bottom: 50px;
    height: calc(100% - 45px);
    padding-bottom: 100px;
    .sure-btn {
        width: 100%;
        height: 45px;
        padding: 0 15px;
        a {
            position: relative;
        }
        &.new {
            z-index: 9;
            a {
                border-radius: 0;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 40% !important;
                padding: 10px 0;
                font-size: 16px;
                line-height: 1;
                margin-bottom: 0 !important;
            }
            label {
                color: $color_gray_white;
                background: $color_background;
                bottom: 0;
                left: 0;
                width: 60%;
                text-align: right;
                padding: 12px 15px 10px;
                font-size: 16px;
                line-height: 1;
                @include border_s(1px);
                position: absolute;
            }
        }
    }
    >span {
        font-size: 13px;
        color: $color_gray_white;
        padding: 10px 15px;
        display: block;
        line-height: 15px;
        background: $color_bg;
    }
    .remark {
        background: #fff;
        padding: 15px;
        @include border_s(1px);
        &:before {
            width: calc(200% - 60px);
            left: 15px;
        }
        div {
            word-break: break-all;
            color: $color_gray_white;
            font-size: 13px;
        }
        div:first-child {
            white-space: nowrap;
            color: $color_gray_dark;
            font-size: 15px;
        }
        div:last-child {
            flex: 1;
        }
    }
    dl {
        text-align: center;
        font-size: 13px;
        line-height: 17px;
        padding: 70px;
        background: $color_bg;
        dt,
        dt>a {
            color: $color_blue;
        }
        dd {
            color: $color_gray;
        }
    }
    .product-title {
        font-size: 15px;
        color: $color_gray_dark;
        line-height: 40px;
        font-weight: 600;
    }
    .status-top {
        height: 100px;
        background: $color_red;
        color: #fff;
        padding-left: 45px;
        font-size: 13px;
        :first-child {
            font-size: 15px;
            padding: 25px 0 8px;
        }
        >div {
            width: 50%;
            line-height: 20px;
        }
        i {
            display: block;
            width: 85px;
            height: 72px;
            position: absolute;
            right: 47px;
            top: 20px;
            &.PAY_CANCEL {
                @include order_img(-903px);
            }
            &.PAY_NOT {
                background:url(http://miz-image.b0.upaiyun.com/xplan/3.0/unpay.png) no-repeat /cover !important;
                top:10px;
                height:80px;
            }
            &.PAY_OVER {
                @include order_img(-1070px);
                height: 78px;
                top: 15px;
            }
            &.PAY_REFUND {
                @include order_img(-570px);
                width: 83px;
            }
            &.PAY_FAIL {
                @include order_img(-734px);
            }
            &.PAY_SUCCESS {
                @include order_img(-407px);
                width: 81px;
            }
            &.PAY_DELIVER {
                @include order_img(-60px);
            }
            &.PAY_SIGN {
                @include order_img(-118*2px);
            }
        }
    }
    .status-consignee {
        padding: 10px 0 0 45px;
        position: relative;
        >div {
            position: relative;
            padding: 0 15px 10px 5px;
            &::before {
                content: '';
                @include order_img(-31px);
                width: 15px;
                height: 19px;
                position: absolute;
                left: -25px;
                top: 20px;
            }
            &.logistics {
                border-bottom: $border;
                &::before {
                    @include order_img;
                }
                &:after {
                    content: '';
                    display: inline-block;
                    background: url(http://credit-static.b0.upaiyun.com/miz-user/img/user.png) no-repeat;
                    background-size: 161px 28px;
                    background-position: 0;
                    width: 8px;
                    height: 28px;
                    position: absolute;
                    right: 15px;
                    top: 30%;
                }
                .last-msg {
                    font-size: 14px;
                    color: $color_gray_white;
                    line-height: 20px;
                    padding-right: 15px;
                }
            }
        }
    }
}

.ads-name {
    color: $color_gray_dark;
    font-size: 15px;
    line-height: 36px;
}

.ads-phone {
    color: $color_gray_dark;
    font-size: 15px;
}

.ads-where {
    color: $color_gray_white;
    line-height: 22px;
    span {
        word-wrap: break-word;
    }
}

.ads-none {
    height: 50px;
    line-height: 50px;
}

.ads-change {
    text-align: right;
    padding-top: 10px;
}

.textarea-label {
    white-space: nowrap;
    padding-top: 4px;
}

.fahuo {
    color: $color_gray_dark;
    flex: 1;
    text-align: right;
    line-height: 22px;
    font-size: 13px;
}

.textarea-box {
    padding: 0 15px;
    width: 80%; //anzhuo 4.3
    flex: 1;
    margin: 0;
    padding: 0;
    position: relative;
    textarea{
        width: 100%;
        border:0;
        resize:none !important;
    }
    // textarea {
    //     background: #fff;
    //     resize:none;
    //     width: 100%;
    //     border-color:rgba(0,0,0,0.1);
    // }
}

@supports(font-size:1vw) {
    .mybtn {
        height: pxToVw(90);
        font-size: pxToVw(30);
        label {
            padding-right: pxToVw(40);
        }
        a {
            font-size: pxToVw(36);
        }
    }
    .textarea-box {
        padding: 0 pxToVw(30);
        textarea {
            font-size: pxToVw(26);
        }
    }
    .fahuo {
        padding-top: pxToVw(8);
        font-size: pxToVw(26);
    }
    .textarea-label {
        padding-top: pxToVw(8);
        color: $color_gray_dark;
        font-size: pxToVw(30);
    }
    .margBottom10 {
        margin-bottom: pxToVw(20);
    }
    .margLeft15 {
        margin-left: pxToVw(30);
    }
    .margTop10 {
        margin-top: pxToVw(20);
    }
    .piece {
        padding: 0 pxToVw(20) pxToVw(20);
        &:not(:first-child) {
            &:before {
                left: pxToVw(20);
                width: calc(200% - 20/750*100vw);
            }
        }
    }
    .order {
        margin-bottom: pxToVw(0);
        height: calc(100% - 90/750*100vw);
        .sure-btn {
            height: pxToVw(90);
            a {
                font-size: pxToVw(32);
            }
            &.new {
                position: absolute;
                bottom: 0;
                a {
                    height: pxToVw(88);
                    font-size: pxToVw(36);
                }
                label {
                    padding: pxToVw(24) pxToVw(30) pxToVw(20);
                    font-size: pxToVw(32);
                }
            }
        }
        >span {
            font-size: pxToVw(26);
            padding: pxToVw(20) pxToVw(30);
            line-height: pxToVw(30);
        }
        .remark {
            padding: pxToVw(30);
            &:before {
                width: calc(200% - 120/750*100vw);
                left: pxToVw(30);
            }
            div {
                font-size: pxToVw(26);
            }
            div:first-child {
                font-size: pxToVw(30);
            }
        }
        dl {
            font-size: pxToVw(26);
            line-height: pxToVw(34);
            padding: pxToVw(140);
            ;
        }
        .product-title {
            font-size: pxToVw(30);
            line-height: pxToVw(80);
        }
        .status-top {
            height: pxToVw(200);
            padding-left: pxToVw(90);
            font-size: pxToVw(26);
            :first-child {
                font-size: pxToVw(30);
                padding: pxToVw(50) 0 pxToVw(16);
            }
            >div {
                line-height: pxToVw(40);
            }
            i {
                width: pxToVw(170);
                height: pxToVw(144);
                right: pxToVw(94);
                top: pxToVw(40);
                background-size: pxToVw(702.5*2) pxToVw(77*2) !important;
                &.PAY_CANCEL {
                    background-position-x: pxToVw(-903);
                }
                &.PAY_NOT {
                    top: pxToVw(20);
                    height:pxToVw(160);
                }
                &.PAY_OVER {
                    background-position-x: pxToVw(-1070);
                }
                &.PAY_REFUND {
                    background-position-x: pxToVw(-570);
                    width: pxToVw(166);
                }
                &.PAY_FAIL {
                    background-position-x: pxToVw(-734);
                }
                &.PAY_SUCCESS {
                    background-position-x: pxToVw(-407);
                    width: pxToVw(162);
                }
                &.PAY_DELIVER {
                    background-position-x: pxToVw(-60);
                }
                &.PAY_SIGN {
                    background-position-x: pxToVw(-118*2);
                }
            }
        }
        .status-consignee {
            padding: pxToVw(20) 0 0 pxToVw(90);
            >div {
                padding: 0 pxToVw(30) pxToVw(20) pxToVw(10);
                &::before {
                    background-position-x: pxToVw(-31);
                    background-size: pxToVw(702.5*2) pxToVw(77*2);
                    width: pxToVw(30);
                    height: pxToVw(38);
                    left: pxToVw(-50);
                    top: pxToVw(40);
                }
                &.logistics {
                    &::before {
                        background-size: pxToVw(1405) pxToVw(154);
                    }
                    &:after {
                        background-size: pxToVw(322) pxToVw(56);;
                        width: pxToVw(16);
                        height: pxToVw(56);
                        right: pxToVw(30);
                    }
                    .last-msg {
                        font-size: pxToVw(28);
                        line-height: pxToVw(40);
                        padding-right: pxToVw(30);
                    }
                }
            }
        }
        &.bottom {
            height: 45px;
            bottom: 0;
        }
    }
    .ads-name {
        line-height: pxToVw(72);
    }
    .ads-phone,
    .ads-where,
    .ads-none,
    .ads-name,
    .ads-change {
        font-size: pxToVw(30);
    }
    .ads-where {
        line-height: pxToVw(44);
    }
    .ads-none {
        height: pxToVw(100);
        line-height: pxToVw(100);
    }
    .ads-change {
        padding-top: pxToVw(20);
    }
    .myproduct {
        >div {
            >div {
                font-size: pxToVw(26) !important;
                color: $color_gray_white;
                >img {
                    width: pxToVw(168);
                    height: pxToVw(168);
                    border: 1px solid $color_border;
                }
            }
        }
    }
}

.order .product-msg {
    color: $color_gray_white;
    font-size: 13px;
}

.img-border {
    @include border_s(1px, 1px, 1px, 1px);
}

.textarea-input {
    width: 100%;
    border: none;
    resize: none;
}

.order .sure-btn a.btn {
    width: 100%;
    margin-bottom: -50px;
}

.order .sure-btn.hide {
    display: none;
}

.a-link,
.a-link:hover,
.a-link:focus {
    color: $color_blue;
}
