@import '../../app/default.scss';
.mygoods {
    overflow: visible;
    .contain {
        overflow: visible;
        padding-bottom: 50px;
    }
    .forimg {
        margin-top: -4px;
        .title {
            background: #fff;
            padding: 10px 15px;
            margin-bottom: 10px;
            @include border_s(0, 0, 1px);
            >label {
                font-size: 18px;
                color: $color_gray_dark;
            }
            >span {
                float: right;
                font-size: 13px;
                color: $color_gray_white;
                label {
                    text-decoration: line-through;
                }
            }
            em {
                display: block;
                line-height: 20px;
                font-size: 12px;
                color: $color_gray_white;
                padding-bottom: 10px;
                border-bottom: $border;
                height: 30px;
                i {
                    color: $color_red;
                }
            }
            p {
                font-size: 13px;
                color: $color_gray_white;
                line-height: 20px;
                padding-top: 10px;
            }
        }
        .select {
            background: #fff;
            padding: 15px;
            @include border_s(1px, 0, 1px);
            margin-bottom: 10px;
            >div {
                display: -webkit-flex;
                width: 100%;
                label {
                    color: $color_gray_dark;
                    font-size: 15px;
                    line-height: 30px;
                    white-space: nowrap;
                    margin-right: -5px;
                    float: left;//Android4.3
                }
                dl {
                    display: -webkit-flex;
                    font-size: 13px;
                    flex: 1;
                    -webkit-flex-wrap: wrap;
                    word-wrap: break-word;
                    overflow: hidden;
                    padding-top: 1px;
                    dd {
                        padding: 5px 8px;
                        border: 1px solid $color_border;
                        margin: 0 0 15px 20px;
                        line-height: 20px;
                        position: relative;
                        float: left;//Android4.3
                        &:before {
                            border-radius: 4px;
                        }
                        &.on {
                            color: $color_red;
                            border-color: $color_red;
                        }
                        &.off {
                            background: $color_off;
                            color: $color_gray_dark;
                            border-color: $color_off;
                        }
                    }
                }
                .number {
                    position: relative;
                    left: 20px;
                    width: 85px;//Android4.3
                }
            }
        }
        >dl {
            background: #fff;
            padding: 0 16px;
            @include border_s(1px, 0, 1px);
            margin-bottom: 10px;
            dd {
                line-height: 48px;
                @include border_s(0, 0, 1px);
                font-size: 15px;
                label {
                    float: right;
                    color: $color_red;
                }
            }
            a {
                font-size: 15px;
                color: $color_red;
                line-height: 48px;
                position: relative;
                display: block;
                span {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 90%;
                    display:block;
                }
                &:after {
                    content: '';
                    width: 8px;
                    height: 13px;
                    display: inline-block;
                    right: 15px;
                    top: 18px;
                    position: absolute;
                    background: url(http://miz-image.b0.upaiyun.com/miz-user/img/user1.png) no-repeat;
                    background-size: 161px 28px;
                }
            }
        }
        .detail {
            background: #fff;
            >p {
                line-height: 46px;
                border-left: 5px solid $color_red;
                @include border_s(1px, 0, 1px);
                text-indent: 17px;
            }
        }
    }
    .toBuyNow {
        color: #fff;
        position: fixed;
        bottom: -1px;//0
        height: 50px;
        width: 100%;
        line-height: 50px;
        text-align: center;
        font-size: 18px;
        z-index: 99;
    }
    @supports(font-size:1vw) {
        .contain {
            padding-bottom:pxToVw(100);
        }
        .toBuyNow {
            height: pxToVw(100);
            line-height: pxToVw(100);
            font-size: pxToVw(36);
        }
        .forimg {
            .title {
                padding: pxToVw(20) pxToVw(30);
                margin-bottom: pxToVw(20);
                >label {
                    font-size: pxToVw(36);
                }
                >span {
                    font-size: pxToVw(26);
                    line-height: pxToVw(36);
                }
                em {
                    line-height: pxToVw(40);
                    font-size: pxToVw(24);
                    padding-bottom: pxToVw(20);
                    height:auto;
                    @include border_s(0, 0, 1px);
                    border-bottom-width: 0;
                }
                p {
                    font-size: pxToVw(26);
                    line-height: pxToVw(40);
                    padding-top: pxToVw(20);
                }
            }
            .select {
                padding: pxToVw(30);
                margin-bottom: pxToVw(20);
                >div {
                    label {
                        font-size: pxToVw(30);
                        line-height: pxToVw(60);
                        margin-right: pxToVw(-10);
                    }
                    dl {
                        font-size: pxToVw(26);
                        dd {
                            padding: pxToVw(10) pxToVw(16);
                            margin: 0 0 pxToVw(30) pxToVw(40);
                            line-height: pxToVw(40);
                            &:before {
                                border-radius: pxToVw(8);
                            }
                        }
                    }
                    .number {
                        left: pxToVw(40);
                        width: fit-content;
                    }
                }
            }
            >dl {
                padding: 0 pxToVw(32);
                margin-bottom: pxToVw(20);
                dd {
                    line-height: pxToVw(96);
                    font-size: pxToVw(30);
                }
                a {
                    font-size: pxToVw(30);
                    line-height: pxToVw(96);
                    &:after {
                        width: pxToVw(16);
                        height: pxToVw(26);
                        right: pxToVw(30);
                        top: pxToVw(36);
                        background-size: pxToVw(322) pxToVw(56);
                    }
                }
            }
            .detail {
                >p {
                    line-height: pxToVw(92);
                    border-left-width: pxToVw(10);
                    text-indent: pxToVw(34);
                }
            }
        }
    }
}