@charset "UTF-8";
@import '../../app/default.scss';
.myhotlist img {
    width: 30% !important;
}

.margTop45 {
    margin-top: 45px;
}

@keyframes anewhome{
    0%{opacity:0;}
    50%{opacity:0.1;}
    100%{opacity: 1;}
}
.newhome {
    background:$color_bg_light;
    // height:auto !important;
    &.loadonesec{
        opacity:0;
        animation:anewhome 1s;
        animation-fill-mode: forwards;
    }
    .groom {
        margin-bottom: 10px;
        .top {
            background: #fff;
            >span {
                color: $color_gray_dark;
                font-size: 15px;
                line-height: 1;
                margin: auto;
                display: block;
                width: fit-content;
                background: #fff;
                z-index: 2;
                position: relative;
                padding: 14px 12px 0 36px;
                &:before {
                    content: '';
                    display: inline-block;
                    margin-right: 10px;
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    left:  15px;
                    background:{
                        image:url('//miz-image.b0.upaiyun.com/xplan/3.0/love.png');
                        repeat:no-repeat;
                        size:contain;
                    }
                }
            }
            >label {
                width: calc(100% - 32px);
                height: 1px;
                left: 16px;
                display: block;
                position: relative;
                top: -7px;
                @include border_s(1px);
            }
            >div {
                dl {
                    display: flex;
                    padding-top: 13px;
                    padding-bottom: 15px;
                    @include border_s(0, 0, 1px);
                    dd {
                        flex: 1;
                        position: relative;
                        width: 33%;
                        >a {
                            position: absolute;
                            left: 0;
                            top: 0;
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                        >img {
                            width: 88%;
                            margin-left: 6%;
                        }
                        div {
                            text-align: center;
                            span {
                                font-size: 13px;
                                color: $color_gray_dark;
                                display: block;
                                padding: 10px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            label {
                                color: $color_red;
                                font-size: 12px;
                                display: block;
                                padding-bottom: 3px;
                            }
                            em {
                                font-size: 11px;
                                color: $color_gray;
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
        .subject {
            @include border_s(1px);
            background: #fff;
            img {
                width: 100%;
            }
            &:after{
                content: '';
                border: 10px solid transparent;
                display: inline-block;
                position: absolute;
                left: 25px;
                bottom: 0;
                border-bottom-color:#fff;
            }
            &.subject_0:after{
                display: none;
            }
        }
        .products {
            background: #fff;
            padding: 15px;
            @include border_s(1px);
            .title_msg {
                font-size: 15px;
                color: $color_gray_dark;
                display: -webkit-flex;
                label {
                    font-size: 12px;
                    color: $color_blue;
                    border:1px solid $color_blue;
                    border-radius: 4px;
                    padding: 0 6px;
                    line-height: 1.5;
                    margin-right: 6px;
                    white-space: nowrap;
                    display: inline-block;;
                }
                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: 15px;
                    height: 18px;
                    line-height: 18px;
                }
            }
            >img {
                width: 76%;
                margin: 12px 12%;
            }
            div:not(:last-child) {
                font-size: 13px;
                white-space: nowrap;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 16px;
                &.depict {
                    color: $color_gray_white;
                }
                &.income {
                    color: $color_red;
                }
            }
            .buy {
                color: $color_gray;
                height: 40px;
                position: relative;
                margin-top: 15px;
                >span {
                    display: inline-block;
                    font-size: 12px;
                    line-height: 40px;
                    margin-top: -10px;
                }
                label {
                    text-decoration: line-through;
                }
                a {
                    color: #fff;
                    background: $color_red;
                    padding: 10px 15px;
                    font-size: 15px;
                    position: absolute;
                    right: 0;
                    bottom: 15px;
                    border-radius: 4px;
                }
            }
        }
    }
}

.body {
    width: 100%;
    margin-top: 45px;
    bottom: 0;
    left: 0;
    position: static;
    overflow: visible;
    -webkit-overflow-scrolling : touch;
}

.seckill2{
    background:#fff;
    padding:0 10px;
    margin-bottom: 5px;
    @include border_s(0,0,1px);
    >div{
        width: 100%;
        padding: 15px;
        position: relative;
        p{
            &:before{
                content: '';
                width: 16px;
                height: 16px;
                display: inline-block;
                margin-right: 12px;
                position: relative;
                top: 2px;
                background:{
                    image:url('//miz-image.b0.upaiyun.com/xplan/3.0/sec.png');
                    repeat:no-repeat;
                    size:contain;
                }
            }
            color:$color_gray_dark;
            font-size: 12px;
            em{
                font-size: 15px;
                padding-right: 5px;
            }
        }
        div{
            display: flex;
            padding-top: 12px;
            img{
                width: 125px;
                height: 125px;
                border:1px solid $color_border;
            }
            dl{
                flex:1;
                padding-left: 15px;
                dt{
                    font-size: 15px;
                    line-height: 1.5;
                    color:$color_gray_dark;
                    @extend %textlines;
                    -webkit-line-clamp: 2 !important;
                }
                dd{
                    &.in{
                        font-size: 15px;
                        color:$color_red;
                        line-height: 1.5;
                    }
                    &.price{
                        font-size: 12px;
                        color:$color_gray;
                        padding-top: 5px;
                        >span:last-child{
                            text-decoration: line-through;
                        }
                    }
                    a{
                        color:#fff;
                        font-size: 15px;
                        line-height: 40px;
                        text-align: center;
                        width: 100%;
                        background: $color_btn_gray;
                        display: inline-block;
                        margin-top: 3px;
                        border-radius: 4px;
                        &.on{
                            background:$color_red;
                        }
                    }
                }
            }
        }
    }
}

 #myTip {
        line-height: 35px;
        font-size: 13px;
        display: flex;
        background: #d21900;
        color: #fff;
        align-items: center;
        i {
            width: 40px;
            height: 14px;
            display: block;
            background: {
                image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAMAAAAz6Z0tAAAAq1BMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////Nr6iZAAAAOHRSTlMAB0rgAwpHgg1YNolhQ0AiEQ7lbmcxH/avdlw7LSXsxbiNU08W79OdTSnkv76mmZSQG9irpHt0+s6YTv0AAAGMSURBVCjPfdPndoJAEAXgu8qy9BKKFBEp9thSef8nyyiHEIl6/8Bhv7M7c5jFbZxyiueRjA/z+mSPxEa8zNag8LIQZXZnCzNqmvHoStRovl959kDU/lvTkYuyjruVKf3dIjhNml/CrrUE+53aF+UmS1rvCJvKdn35qudVWz1joT5r/hBJiwuhMTLFKxXN1PgrntMhPZEYd+rRISETRIWCdLlYLDrQkjAJLocd16ST3MK6W++JklmqA1gipW3ePyG/DAnFMdcKIHzi8fwuIWPQNobvAtXbA8LlKYPmU03y+AFhWsqRGekzUtkSLMMGRmOM7pKNT7V4nkJdLyHP/hF+zlSNwdVV4KyvoC0nk8ktsY1qAzDfCwHz1QNXhfgc/ACFQXLVQgMUfZeRVhRee9tBufJJUNtQc491AyRH3z1xjcOXFdKLFp1c/MaOZ/28bCxq91LInmAfXs5b0iXU88PwygQ0WNsrkWwz0d+j+IxhuJ9vS1AU47j6EBruJRVpO/6V6Ty6jmHdNs370f8BCOxCkmrO9GwAAAAASUVORK5CYII=);
                size:contain;
                repeat:no-repeat;
                position: center;
            }
        }
        span {
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
            label{
                padding-right: 200px;
            }
        }
    }

@supports(font-size:1vw) {
    .seckill2{
        padding:0 pxToVw(20);
        margin-bottom: pxToVw(10);
        >div{
            padding: pxToVw(30);
            p{
                &:before{
                    width: pxToVw(32);
                    height: pxToVw(32);
                    margin-right: pxToVw(24);
                    top: pxToVw(4);
                }
                font-size: pxToVw(24);
                em{
                    font-size: pxToVw(30);
                    padding-right: pxToVw(20);
                }
            }
            div{
                padding-top: pxToVw(24);
                img{
                    width: pxToVw(250);
                    height: pxToVw(250);
                }
                dl{
                    padding-left: pxToVw(30);
                    dt{
                        font-size: pxToVw(30);
                    }
                    dd{
                        &.in{
                            font-size: pxToVw(30);
                        }
                        &.price{
                            font-size: pxToVw(24);
                            padding-top: pxToVw(10);
                        }
                        a{
                            font-size: pxToVw(30);
                            line-height: pxToVw(80);
                            margin-top: pxToVw(6);
                            border-radius: pxToVw(8);
                        }
                    }
                }
            }
        }
    }
    .body {
        margin-top: pxToVw(90);
    }
    .newhome {
        >a{
            i{
                top: pxToVw(-16);
            }
            em{
                top: pxToVw(-18);
            }
        }
        .groom {
            margin-bottom: pxToVw(20);
            .top {
                >span {
                    font-size: pxToVw(30);
                    padding: pxToVw(28) pxToVw(30) 0 pxToVw(72);
                    &:before {
                        width: pxToVw(30);
                        height: pxToVw(30);
                        left:  pxToVw(30);
                    }
                }
                >label {
                    width: calc(100% - 8.5vw);
                    left: pxToVw(32);
                    top: pxToVw(-14);
                }
                >div {
                    dl {
                        padding-top: pxToVw(26);
                        padding-bottom: pxToVw(30);
                        dd {
                            width: 1px;
                            div {
                                span {
                                    font-size: pxToVw(26);
                                    padding: pxToVw(20);
                                }
                                label {
                                    font-size: pxToVw(24);
                                    padding-bottom: pxToVw(6);
                                }
                                em {
                                    font-size: pxToVw(22);
                                }
                            }
                        }
                    }
                }
            }
            .subject::after{
                left:pxToVw(50);
                border-width: pxToVw(20)
            }
            .products {
                padding: pxToVw(30);
                .title_msg {
                    font-size: pxToVw(30);
                    label {
                        font-size: pxToVw(24);
                        padding: 0 pxToVw(12);
                        margin-right: pxToVw(12);
                        border-radius: pxToVw(8);
                    }
                    span{
                        font-size: pxToVw(30);
                        line-height: pxToVw(36);
                        height: pxToVw(36);
                    }
                }
                >img {
                    margin: pxToVw(24) 12%;
                }
                div:not(:last-child) {
                    font-size: pxToVw(26);
                    line-height: pxToVw(32);
                }
                .buy {
                    height: pxToVw(70);
                    margin-top: pxToVw(30);
                    >span {
                        font-size: pxToVw(24);
                        line-height: pxToVw(70);
                        margin-top: pxToVw(-20);
                        position: absolute;
                        bottom: 0;
                    }
                    a {
                        padding: pxToVw(20) pxToVw(30);
                        font-size: pxToVw(30);
                        bottom: 0;
                        border-radius: pxToVw(8);
                    }
                }
            }
        }
    }
    #myTip {
        line-height: pxToVw(70);
        font-size: pxToVw(26);
        i {
            width: pxToVw(80);
            height: pxToVw(28);
        }
        span {
            label{
                padding-right: pxToVw(400);
            }
        }
    }
}
