@charset "UTF-8";
@import '../../app/default.scss';
.theme {
    background: #fff;
    >img {
        width: 100%;
    }
    .container {
        padding: 15px;
        .title {
            font-size: 16px;
            color: $color_gray_dark;
        }
        time {
            font-size: 13px;
            color: $color_gray_white;
            padding-top: 11px;
            display: inline-block;
        }
        .txt {
            color: $color_gray_white !important;
            background: #fff;
        }
        >img {
            width: 100%;
            margin-top: 10px;
        }
        .recommend {
            margin-top: 10px;
            em {
                display: block;
                font-style: normal;
                font-size: 15px;
                &:before {
                    content: '';
                    width: 19px;
                    height: 18px;
                    display: inline-block;
                    margin-right: 10px;
                    position: relative;
                    top: 3px;
                    background: {
                        image: url(http://miz-image.b0.upaiyun.com/xplan/3.0/good.png);
                        repeat: no-repeat;
                        size: contain;
                    }
                }
            }
            >div {
                @include border_s(1px, 1px, 1px, 1px);
                padding: 10px 12px;
                background: $color_background;
                margin-top: 8px;
                >a {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                }
                &:before {
                    border-radius: 16px;
                }
                .con {
                    display: flex;
                    img {
                        width: 84px;
                        height: 84px;
                        margin-right: 10px;
                        flex: 0 0 84px;
                    }
                    div {
                        color: $color_red;
                        font-size: 13px;
                        flex: 0 0 calc(100% - 95px);
                        display: flex;
                        flex-direction: column;
                        dl {
                            font-size: 15px;
                            color: $color_gray_dark;
                            line-height: 22px;
                            word-break: break-all;
                            display: flex;
                        }
                        dl:first-child {
                            @extend %textlines;
                            -webkit-line-clamp: 2 !important;
                        }
                        dl:last-child {
                            flex: auto;
                            align-items: center;
                        }
                        dt {
                            display: flex;
                            flex-wrap: wrap;
                            flex: 0 0 calc(100% - 65px);
                            span {
                                padding-right: 10px;
                                font-size: 13px;
                                color: $color_red;
                                @extend %textlines;
                                -webkit-line-clamp: 2 !important;
                            }
                        }
                        a {
                            color: #fff;
                            width: 60px;
                            height: 30px;
                            text-align: center;
                            line-height: 30px;
                            background: $color_orange;
                            border-radius: 4px;
                            flex: 0 0 60px;
                            font-size: 13px;
                        }
                    }
                }
                >dd {
                    @extend %textlines;
                    -webkit-line-clamp: 3;
                    font-size: 13px;
                    color: $color_gray_white;
                    line-height: 22px;
                    position: relative;
                    padding-top: 6px;
                    font-size: 13px;
                    span {
                        color: $color_gray_white;
                    }
                }
            }
        }
        @supports (font-size: 1vw) {
            padding: pxToVw(30);
            .title {
                font-size: pxToVw(32);
            }
            time {
                font-size: pxToVw(26);
                padding-top: pxToVw(22);
            }
            .txt {
                font-size: pxToVw(28);
                line-height: pxToVw(48);
                padding-top: pxToVw(20);
            }
            .recommend {
                margin-top: pxToVw(20);
                em {
                    font-size: pxToVw(30);
                    &:before {
                        width: pxToVw(38);
                        height: pxToVw(36);
                        margin-right: pxToVw(20);
                        top: pxToVw(6);
                    }
                }
                >div {
                    padding: 20/750*100vw 24/750*100vw;
                    margin-top: 16/750*100vw;
                    &:before {
                        border-radius: 32/750*100vw;
                    }
                    .con {
                        img {
                            width: 168/750*100vw;
                            height: 168/750*100vw;
                            margin-right: 20/750*100vw;
                            flex: 0 0 168/750*100vw;
                        }
                        div {
                            font-size: 26/750*100vw;
                            flex: 0 0 calc(100% - 190/750*100vw);
                            dl {
                                font-size: 30/750*100vw;
                                line-height: 44/750*100vw;
                            }
                            dt {
                                flex: 0 0 calc(100% - 130/750*100vw);
                                span {
                                    padding-right: 20/750*100vw;
                                    font-size: 26/750*100vw;
                                }
                            }
                            a {
                                width: 120/750*100vw;
                                height: 60/750*100vw;
                                line-height: 60/750*100vw;
                                border-radius: 8/750*100vw;
                                flex: 0 0 120/750*100vw;
                                font-size: 26/750*100vw;
                            }
                        }
                    }
                    >dd {
                        font-size: 26/750*100vw;
                        line-height: 44/750*100vw;
                        padding-top: 12/750*100vw;
                        font-size: 26/750*100vw;
                    }
                }
            }
        }
    }
}

.form-textarea {
    width: 100%;
    border: 0;
    resize: none;
    text-indent: 0;
}
