.ReactModalPortal {
    >div>div {
        left: 0 !important;
        margin-left: 0 !important;
        width: 100% !important;
        height: 100%;
        margin-top: 0 !important;
        display: -webkit-flex;
        -webkit-align-items: center;
        -webkit-justify-content: center;
        position: static !important;
    }
}

.ralert {
    background-color: #FFF;
    box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
    height: auto;
    width: 80%;
    border-radius: 5px;
    .title {
        margin: 0;
        padding: 24px 24px 0 24px;
        color: rgba(0, 0, 0, 0.87);
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
    }
    .content {
        padding: 24px;
        overflow: hidden;
        max-height: 164px;
        color: #666;
        word-wrap: break-word;
        word-break: break-all;
        line-height: 22px;
    }
    .footer-btn {
        padding: 8px;
        margin-bottom: 8px;
        text-align: right;
        width: 100%;
    }
    .click-link {
        color: #00bcd4;
        display: inline-block;
        width: 89px;
        height: 36px;
        line-height: 36px;
        text-align: center;
    }
    @supports(font-size:1vw) {
        box-shadow: 0 pxToVw(28) pxToVw(90) rgba(0, 0, 0, 0.25), 0 pxToVw(20) pxToVw(36) rgba(0, 0, 0, 0.22);
        border-radius: pxToVw(10);
        .title {
            padding: pxToVw(48) pxToVw(48) 0 pxToVw(10);
            font-size: pxToVw(36);
            line-height: pxToVw(52);
        }
        .content {
            padding: pxToVw(48);
            max-height: pxToVw(328);
            line-height: pxToVw(44);
        }
        .footer-btn {
            padding: pxToVw(16);
            margin-bottom: pxToVw(16);
        }
        .click-link {
            width: pxToVw(189);
            height: pxToVw(72);
            line-height: pxToVw(72);
        }
    }
    &.error .content {
        color: rgb(255, 64, 129);
    }
    &.warning .content {
        color: #ffeb3b;
    }
    &.success .content {
        color: #81c784;
    }
}