@import '../../app/default.scss';
.myalert {
    height: auto;
    border-radius: 5px;
    .title {
        display: none;
    }
    .content {
        text-align: center;
        font-size: 15px;
        line-height: 1;
        color: #333 !important;
        line-height: 1.5;
        padding: 24px 12px;
    }
    .click-link {
        width: 100%;
        color: $color_red;
        // border-top: 1px solid #ddd;
        @include border_s(1px);
        font-size: 18px;
    }
    @supports(font-size:1vw) {
        border-radius: pxToVw(10);
        .content {
            font-size: pxToVw(30);
            padding: pxToVw(48) pxToVw(24);
        }
        .click-link {
            font-size: pxToVw(36);
            height: pxToVw(72);
            line-height:pxToVw(72);
        }
    }
    .footer-btn {
        padding: 0;
        &.confirm {
            display: -webkit-flex;
            >div {
                display: 1;
                border: 0;
                @include border_s(1px);
            }
            :first-child {
                @include border_s(1px, 1px);
            }
        }
    }
}
