$color_red:#FF5600;
$color_gray_dark:#333;
$color_gray_white:#666;
$color_border:#ddd;
$color_blue:#00aaff;
$color_gray:#999;
$color_bg:#eee;
$color_orange:#ff6f25;
$color_background:#f7f7f7;
$border:1px solid $color_border;
$color_summer_blue:#57d7e7;
$color_summer_gray:#404040;
$color_summer_border:#7d7d7d;
$color_summer_title:#5abbc7;
$color_off:#ededed;
$color_btn_gray:#c7c7c7;
$color_bg_light:#f1f1f1;
@mixin border_s($top:0, $right:0, $bottom:0, $left:0) {
    position: relative;
    &:before {
        content: '' !important;
        position: absolute;
        left: 0;
        top: 0;
        border: $border;
        border-width: $top $right $bottom $left;
        width: 200%;
        height: 200%;
        transform: scale(.5);
        box-sizing: border-box;
        transform-origin: 0 0;
    }
}

@mixin icon($pl:0, $pr:0, $bgsize:0.5px) {
    background: url(http://miz-image.b0.upaiyun.com/xplan/3.0/micon.png) no-repeat;
    background-size: 148*$bgsize 46*$bgsize;
    background-position: $pl*$bgsize $pr*$bgsize;
}

%textlines {
    overflow: hidden;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    display: -webkit-box;
}

@function pxToVw($px) {
    @return $px / 750 * 100vw;
}

body{
    background:#eee;
    -webkit-overflow-scrolling:touch;
}