@import '../../app/default.scss';
.number {
    height: 29px;
    border: $border;
    .opt-btn {
        padding: 0 5px;
        height: 29px;
        line-height: 29px;
        color: $color_gray_dark;
        position: relative;
        &.left {
            @include border_s(0, 1px);
        }
        &.right {
            @include border_s(0, 0, 0, 1px);
        }
        svg{
            width: 14px !important;
            height: 14px !important;
        }
    }
    .show {
        background-color: #FFF;
        color: $color_gray_dark;
        font-size: 18px;
        padding: 0 10px;
    }
    @supports(font-size:1vw) {
        height: pxToVw(58);
        .opt-btn {
            padding: 0 pxToVw(10);
            height: pxToVw(58);
            line-height: pxToVw(58);
            svg{
                width: pxToVw(28) !important;
                height: pxToVw(28) !important;
            }
        }
        .show {
            font-size: pxToVw(36);
            padding: 0 pxToVw(20);
        }
    }
}
