.selectModal {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    display: none;
    >a {
        height: 44px;
        background: #ff5600;
        text-align: center;
        color: #fff;
        font-size: 18px;
        width: 100%;
        display: block;
        position: fixed;
        bottom: -100%;
        z-index: 44;
        border-radius: 0;
        margin-top: 0;
    }
    >div {
        position: fixed;
        bottom: -100%;
        z-index: 20;
        background: #fff;
        width: 100%;
        .title {
            height: 49px;
            line-height: 49px;
            font-size: 15px;
            color: #333;
            margin-left: 15px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;
            a {
                background: none;
                color: #ccc;
                font-size: 42px;
                float: right;
                padding: 0 15px;
                margin-top: 0;
                font-weight: 100;
            }
        }
        .select {
            display: flex;
            color: #666;
            label {
                font-size: 15px;
                text-indent: 15px;
                padding-top: 3px;
                white-space: nowrap;
                display: block;
            }
            ul {
                flex: 1;
                display: flex;
                flex-wrap: wrap;
                li {
                    border: 1px solid #ddd;
                    border-radius: 2px;
                    font-size: 13px;
                    padding: 3px 12px;
                    margin: 0 15px 20px 0;
                    &.on {
                        border-color: #ff5600;
                    }
                }
            }
        }
    }
    &.start {
        top: 0;
        display: block;
        >div {
            animation: selectturnon 200ms ease-out;
            animation-fill-mode: forwards;
        }
        >a {
            animation: selectclickturnon 200ms ease-out;
            animation-fill-mode: forwards;
        }
    }
    &.end {
        // animation: turnend 300ms ease-in;
        // animation-fill-mode: forwards;
        top: 100%;
        display: block;
        >div {
            animation: selectturnend 200ms ease-in;
            animation-fill-mode: forwards;
        }
        >a {
            animation: selectclickturnend 200ms ease-in;
            animation-fill-mode: forwards;
        }
    }
}

// @keyframes turnon {
//     from {
//         top: 100%;
//     }
//     to {
//         top: 0;
//     }
// }

@keyframes selectturnon {
    from {
        bottom: -100%;
    }
    to {
        bottom: 44px;
    }
}

@keyframes selectclickturnon {
    from {
        bottom: -100%;
    }
    to {
        bottom: 0;
    }
}

// @keyframes turnend {
//     to {
//         top: 100%;
//     }
//     from {
//         top: 0;
//     }
// }

@keyframes selectturnend {
    to {
        bottom: -100%;
    }
    from {
        bottom: 44px;
    }
}

@keyframes selectclickturnend {
    to {
        bottom: -100%;
    }
    from {
        bottom: 0;
    }
}