.carousel-container{
    position: relative;
    height: 300px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    background-color: #FFF;
}

.carousel-container i.right,.carousel-container i.left{
    position: absolute;
    top: 116px;
    z-index: 999;
    right: 10px;
    background-size:90px 45px;
    width: 45px;
    height: 46px;
    font-size: 39px;
    color: #fff;
    background: rgba(224,224,224,0.5);
    border-radius:50%;
    font-weight: 200;
}

.carousel-container i.left{
    left: 10px;
}

.carousel-inner{
    position: absolute;
    height: 300px;
    z-index: 998;
}

.carousel-inner > div{
    text-align: center;
    display: inline-block;
}

.carousel-bar{
    position: absolute;
    z-index: 999;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

.carousel-dot{
    display: inline-block;
    height: 8px;
    width: 8px;
    border-radius: 4px;
    background-color: rgb(204,204,204);
    background-color: rgba(204,204,204,0.8);
    margin-right: 10px;
}

.carousel-dot:last-child{
    margin-right: 0;
}

.carousel-dot.active{
    background-color: #ff5600;
}