@import '../../app/default.scss';
.pinxuan {
    em {
        background: #efedef;
        position: relative;
        height: 50px;
        display: inline-block;
        width: 100%;
        top: -5px;
        margin-bottom: 30px;
        a {
            text-align: center;
            background: $color_red;
            width: 90%;
            margin: 0 5%;
            display: inline-block;
            height: 45px;
            border-radius: 4px;
            color: #fff;
            font-size: 18px;
            line-height: 45px;
            position: relative;
            top: 3px;
        }
        @supports(font-size: 1vw) {
            height: pxToVw(100);
            top: pxToVw(-10);
            margin-bottom: pxToVw(60);
            a {
                width: calc(100% - 40/750*100vw);
                margin: 0 pxToVw(20);
                height: pxToVw(90);
                border-radius: pxToVw(8);
                font-size: pxToVw(36);
                line-height: pxToVw(90);
                top: pxToVw(6);
            }
        }
    }
}
